$red_e94d20: #e94d20;
$red_d73d32: #d73d32;
$orange_ef851c: #ef851c;
$orange_eca403: #eca403;
$jaune_f4df38: #f4df38;
$vert_c3d03f: #c3d03f;
$vert_63a74a: #63a74a;
$vert_13955c: #13955c;
$bleu_15a0c8: #15a0c8;
$bleu_427fed: #427fed;
$bleu_4151a3: #4151a3;

$typoBaseFontFamily: monospace,"Consolas", "Menlo", "Courier", serif;
$typoBaseFontSize: 16px;
$typoBaseFontColor: #555;
$typoBaseLineHeight: 1.4375;
